RewriteEngine On
RewriteBase /

# Redireciona todas as requisições que não são arquivos ou pastas para index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
